<h2>List of Ordered Products(Cart)</h2>
<table class="table table-striped">
 	<thead>
 		<tr>
 			<th>#</th>
 			<th>Product</th>
 			<th>Quantity</th>
 		</tr>
 	</thead>
 	<tbody>
 	<% @i = 0 %>
 		<% @products.each do |key, val| %>
			<tr>
				<td><%= key.id %></td>
				<td><%= key.title %></td>
				<td><%= @arr[@i][1] %></td>
			</tr>
			<% @i = @i + 1 %>
 		<% end %>
 	</tbody>
 	<tfoot>
 		<tr>
 			<th>Total</th>
 			<td></td>
 			<th><%= @summ %></th>
 		</tr>
 	</tfoot>
</table>