
	.block {
		background: #E6E6E6;
		padding: 10px;
		width: 20%;
		margin-left: 5%;
	}
	.block img {
		margin: 0 auto;
	}
	.row :first-child {
		margin-left: 0;
	}
	h2 {
		margin: 30px;
	}
	.block #title {
		font-size: 1.4em;
		color: #DBA901;
		margin-top: 20px;
		text-align: center;
	}
	.block p {
		color: #848484;
		font-size: 1.1em;
		font-weight: bold;
	}
	.block #desc {
		color: #886A08;
		text-align: center;
		font-size: 1.2em;
	}
	.block p span {
		color: #DBA901;
	}
#orders_button {
	margin: 10px 10px 0 0;
	border: none;
	background: #f8f8f8;
	border-bottom: 1px solid black;
	font-size: 18px;
}
#orders_button:hover {
	background-color: #E4E7E7;
}